# Web Framework & Server
fastapi
uvicorn[standard]

# Database
SQLAlchemy

# Authentication & Security
passlib
argon2-cffi
python-jose[cryptography]

# AI Pipeline
groq
opencv-python-headless
numpy
pytesseract
Pillow==12.0.0

# Environment & Utilities
python-dotenv
python-multipart