# Web Framework & Server
fastapi
uvicorn[standard]

# Database
SQLAlchemy

# Authentication & Security
passlib
argon2-cffi
python-jose[cryptography]

# AI Pipeline
groq
google-generativeai
opencv-python-headless
numpy
pytesseract
Pillow

# Environment & Utilities
python-dotenv
python-multipart